services:
  libsql:
    image: ghcr.io/tursodatabase/libsql-server:latest
    ports:
      - "8080:8080"
    volumes:
      - ./docker/data/libsql:/var/lib/sqld
    environment:
      - SQLD_NODE_NAME=primary
    user: "0:0"
