[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
serde = { version = "1", features = ["derive"] }
wstd = "0.6"
forte-sdk = { path = "../../forte/rs-sdk" }

[build-dependencies]
forte-sdk = { path = "../../forte/rs-sdk" }
