name: Publish oci-rust-sdk to crates.io

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Cache
        uses: actions/cache@v4
        with:
          path: oci-rust-sdk/target
          key: ${{ runner.os }}-oci-rust-sdk

      - name: Run tests
        working-directory: oci-rust-sdk
        run: cargo test --all-features

      - name: Publish to crates.io
        working-directory: oci-rust-sdk
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.OCI_RUST_SDK_CARGO_API_TOKEN }}
        run: cargo publish
